body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
legend,h1{
  font-family: georgia, serif;
}
h1,h2{
  text-align: center;
}
input:hover{
  background-color: red;
}
button{
    width: 140px;
    height: 30px;
    margin-left: 590px;
    background-color: rgb(228, 218, 227);
    text-align: center;
}
